* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffc001;
}
header {
    text-align: center;
    margin: 15px 0;
}
h1 {
    background-color: #fff;
    font-size: 1.5rem;
    padding: 8px 25px;
    display: inline;
    border-radius: 50px;
}
main {
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
}
.section {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    padding: 10px;
}
label {
    background-color: #fff;
    padding: 5px 10px;
}
#todo_input {
    width: 100%;
    height: 80px;
    padding: 5px;
    border: 2px solid black;
    background-color: #fff;
}
#todo_input:focus {
    outline: black;
}
#todo_date {
    height: 40px;
    width: 150px;
    padding: 10px;
    border: 2px solid black;
    background-color: #fff;
}
#todo_date:focus {
    outline: black;
}
#add {
    background-color: green;
    padding: 11px 35px;
    border: none;
    color: white;
    font-weight: bold;
}
#list_container {
    padding: 10px;
}
.todo_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    background-color: #feffdc;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.todo_container button {
    border: none;
    width: 90px;
    height: 40px;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.delete_button {
    background-color: red;
}
.edit_button {
    background-color: blue;
}
.complete_button {
    background-color: green;
}
.button_container {
    display: flex;
    gap: 10px;
}